footer {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px #CCCCCC solid;
    text-align: center;
    background-color: white;
}

footer>p {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
}

/*for forcing a gap between the footer and main page*/

.janky_footer {
    height: 30px;
}
